#labelToggle {
  position: fixed;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 2em;
}

#toggle {
  display: none;
}

.dark {
  background-color: #101011;
  color: hwb(0 90% 8%);
  transition: all 1s ease;
}

.dark input {
  background-color: #010101;
  color:hwb(0 90% 8%); ;
}

.dark .input-group-text .form-check-input[type="radio"] {
  background-color: grey;
}

.dark .form-check-input[type="radio"] {
  background-color: rgb(116, 114, 126);
}

.dark .form-check-input[type="radio"]:checked {
  background-color: rgb(9, 44, 198);
}

.dark .input-group .form-control {
  background-color: #010101;
  color:hwb(0 90% 8%); ;
}

.dark .input-group-text {
  background-color: rgb(142, 139, 139);
  color:hwb(0 90% 8%); ;
}

.dark .table-bordered {
  background-color: #010101;
  color:hwb(0 90% 8%); ;
}

.dark .table input[type="text"],
.table input[type="number"] {
  border-color: white;
}
