.texto-adicional1 {
  display: none;
}

.texto-adicional2 {
  display: none;
}

.texto-adicional3 {
  display: none;
}

.texto-adicional4 {
  display: none;
}

.texto-adicional5 {
  display: none;
}

.texto-adicional6 {
  display: none;
}

.texto-adicional7 {
  display: none;
}