.texto-adicional {
  display: none;
}

.texto-adicional2 {
  display: none;
}

.texto-adicional3 {
  display: none;
}

.texto-adicional4 {
  display: none;
}

.texto-adicional5 {
  display: none;
}

.texto-adicional6 {
  display: none;
}

.texto-adicional7 {
  display: none;
}

.texto-adicional8 {
  display: none;
}

.texto-adicional9 {
  display: none;
}

.texto-adicional10 {
  display: none;
}